.title {
  font-size: 23px;
  font-weight: 700;
  display: flex;
  flex-direction: row; 
  
}

.title p{
  font-size: 12px;
  margin-left: 10px;
}

.daily_item {
  background-color: lightgray;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
}

.icon_small {
  width: 40px;
}

.day {
  color: darkslategray;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.min_max{
    color: #757575;
}

.daily_details{
    display: grid;
    row-gap: 0;
    column-gap: 15px;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    line-height: 25px;
   
}

.daily_details_item{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.daily_details_item label:first-child{
    color: #757575;
}

.daily_details_item label:last-child{
    color: #212121;
}