@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
.header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header img{
    margin-top:20px ;
    height: 250px;
    width: 250px;
    border-radius: 5px;

}

.header p{
    font-weight: 500;
    font-size: 20px;
    font-family: 'Bruno Ace', cursive;
    background: linear-gradient(to right, #FF8B00,
                    #ff6b08, #7DB89E, #01298B, #0177D9);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

}