.weather{
    width: 300px;
    height:200px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    margin: 20px auto 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hazeday, .Cloudsday , .Mistday , .Drizzleday, .Smokeday , .Dustday, .Fogday, .Sandday, .Ashday, .Squallday, .Tornadoday {
    background-color: #B0C4DE;
    color: #002147;
   
}
.Hazenight, .Cloudsnight, .Mistnight , .Drizzlenight, .Smokenight , .Dustnight, .Fognight, .Sandnight, .Ashnight, .Squallnight, .Tornadonight{
    background-color: #5D8AA8;
    color: #002147;
}
.Rainday, .Thunderstormday,.Snowday{
    background-color: #1B5583;
    color: #002147;
}

.Rainnight,.Thunderstormnight, .Snownight{
    background-color: #003366;
    color: #B0C4DE;

}
.Clearday{
    background-color: #00BFFF;
    color: #002147;
}

.Clearnight{
    background-color: #002147;
    color: #B0C4DE;
}

.inside{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: inherit;
    padding: 5px;
    width: 95%;
    height: 75%;
}

.top, .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cityName{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weatherStat{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.weatherIcon{
    width: 60px;
}


.temp{
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details{
    width: 50%;
    padding-left: 20px;

}

.parameterRow{
    display: flex;
    justify-content: space-between;
}


.parameterLabel{
    text-align: left;
    font-weight: 700;
    font-size: 12px;
}

.parameterValue{
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}
